@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #000;
    margin-top: 13px;
    margin-left: 45px;
}


.sidebar {
    width: 700px;
    background-color: #121212;
    padding: 25px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: -38px;
}

.nav-logo i {
    font-size: 36px;
    cursor: pointer;
    margin-bottom: -30px;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}

.btn-entrar {
    padding: 10px;
    margin-top: -10px;
    margin-left: 1220px;
    position: absolute;
}

.entrar {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px; 
    cursor: pointer;
    font-size: 12px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    height: 45px;
    width: 100px;
}

.button-mais i {
    margin-left: 300px;
    font-size: 200px;
    margin-bottom: -200px
}

.nav-texto {
    list-style-type: none;
    display: flex;
    margin-left: 600px;
    margin-top: -40px;
    padding: 5px 100px;
    gap: 10px;
}

.nav-texto a {
    font-size: 13px;
    text-decoration: none;
    color: #B7B3B6;
    display: flex;
    font-weight: 700;
}


.nav-texto a:hover {
    color: #fff;
}

.nav-libary {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-libary i,
.nav-libary p {
    color: #B7B3B6;
    font-size: 14px;
    cursor: pointer;
}

.nav-playlist,
.nav-podcast {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
}

.nav-playlist button,
.nav-podcast button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;

}

.nav-playlist p,
.nav-podcast p {
    font-size: 15px;
}

.nav-footer {
    margin-top: auto;
}

.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-right: 12px;
    margin-bottom: 8px;
}

.nav-lang-button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 8px 12px;
    margin-top: 2px;
    cursor: pointer;
    border-radius: 20px;
}

main {
    background-color: #181818;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.nav-bar-home {
    margin-left: 258px;
    margin-top: -40px;
}

.button-home {
    display: flex;
    align-items: center;
    background-color: #181818;
    padding: 15px 25px;
    border-radius: 100%;
    width: 30px;
    height: -80px;
    margin-left: -165px;
    cursor: pointer;
    border: none;
    margin-top: -10px;

}

.button-home i {
    display: flex;
    align-items: center;
    color: #B7B3B6;
    margin-left: -11px;
    margin-top: -1px;
    font-size: 22px;
    flex-grow: 1;
    border: none;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 11px 20px;
    border-radius: 40px;
    width: 440px;
    margin-left: -110px;
    margin-top: -48px;
}

.search-bar input {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    margin-left: 10px;
    outline: none;
    font-size: 15px;
}

.search-bar i {
    font-size: 25px;
    color: #B7B3B6;
}

.artists-grid,
.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 24px;
    margin-bottom: 50px;
}

.artists-grid,
.albums-grid {
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.artist-card:hover,
.album-card:hover {
    background-color: #282828;
    align-items: center;
}

.artist-card img {
    background-color: #181818;
    width: 60%;
    border-radius: 50%;
    margin-bottom: 16px;
    display: flex;
}

.album-card img {
    background-color: #181818;
    width: 60%;
    margin-bottom: 16px;
    display: flex;
}

.artist-card h3,
.album-card h3 {
    margin-left: -90px;
    font-size: 15px;
    align-items: center;
}

.artist-card p,
.album-card p {
    font-size: 15px;
    color: #B7B3B6;
    margin-left: -90px;
}

.container h2 {
    margin-top: 5%;
}

.banner {
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #AF2B96, #509BF5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 14px;
}

.banner h2 {
    font-size: 14px;
}

.banner p {
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: #000;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;
}

.banner button:hover {
    color: #AF2B96;
    transition: 0.3s;
}

.content h2 {
    cursor: pointer;
    color: #fff;
}

.download-text {
    list-style-type: none;
    display: flex;
    margin-left: 970px;
    padding: 10px;
    margin-top: 1px;
    position: absolute;
}

.download-text a {
    font-size: 13px;
    text-decoration: none;
    color: #B7B3B6;
    display: flex;
    font-weight: 700;
}

.download-text a:hover {
    cursor: pointer;
    color:#fff;
}

.btn-download {
    list-style-type: none;
    display: flex;
    margin-left: 950px;
    padding: 10px;
    margin-top: 4px;
    position: absolute;
}

.btn-download i {
    font-size: 13px;
    text-decoration: none;
    color: #B7B3B6;
    display: flex;
}

.btn1 i:hover {
    cursor: pointer;
    color: #fff;
}

.inscreva-se li {
    text-decoration: none;
    margin-left: 1140px;
    list-style-type: none;
    margin-top: 11px;
    display: flex;
    position: absolute;
}

.inscreva-se a {
    color: #B7B3B6;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    
    
}

.inscreva-se a:hover {
    color: #fff;
    cursor: pointer;
}
